/* BootStrap カスタムColor */
.table-purple {
  background-color: #6633CC;
}

body {
  font-family: "Yu Gothic", sans-serif;
}

/* headerのh1タグの幅調整 */
header h1 {
  margin-bottom: 10%;
}

/* ヘッダー内の枠を画面いっぱいまで調整する */
header .container {
  padding-top: 20%;
  padding-bottom: 45%;
}

:root {
  /* --base-url: '/kenno-warise.github.io/img/ai_nature.png'; */ /* デフォルトパス */
  --base-url: '/Users/warik/Documents/PYTHON/kw.github.io/img/ai_nature.png';
}

/* ヘッダーのバックグラウンドで画像を挿入 */
header {
  width: 100%;
  height: 100%;
  /* background-image: url(/Users/warik/Documents/PYTHON/kw.github.io/img/ai_nature.png); */
  /* background-image: url(var(--base-url); */
  position: relative;
  background-repeat: no-repeat; /* 画像の繰り返し表示無効 */
  background-size: cover; /* 画像を全画面表示 */
  background-position: center; /* 画像を中央に揃える */
}

/* ヘッダーのpタグ行間の調整 */
p.lead {
  line-height: 200%;
}

/* section内の枠を画面いっぱいまで調整する */
section .container {
  padding-top: 20%;
  padding-bottom: 45%;
}

/* 各セクションのh1タグの幅調整 */
section h1 {
  margin-bottom: 10%;
}


/* 自己紹介節 start */

/* マークダウンのpタグ行間の調整 */
div.line-height p {
  line-height: 200%;
}
/* 画像の横並びと回り込み */
img.right {
  float: right;
  margin-left: 10px;
  width: 45%;
  height: 45%;
}

/* 自己紹介節 end */

/* スキル節 start */

/* 画像の横並びと回り込み */
img.left {
  float: left;
  margin-right: 10px;
  width: 45%;
  height: 45%;
}

div.web-dev {
  margin-top: 10%;
}

/* スキル節 end */
