body {
  font-family: "Yu Gothic", sans-serif;
}

/* headerのh1タグの幅調整 */
header h1 {
  margin-bottom: 10%;
}

/* ヘッダー内の枠を画面いっぱいまで調整する */
header .container {
  padding-top: 20%;
  padding-bottom: 45%;
}

/* section内の枠を画面いっぱいまで調整する */
section .container {
  padding-top: 20%;
  padding-bottom: 45%;
}

/* 各セクションのh1タグの幅調整 */
section h1 {
  margin-bottom: 10%;
}

/* ヘッダーのpタグ行間の調整 */
p.lead {
  line-height: 200%;
}

/* マークダウンのpタグ行間の調整 */
div.line-height p {
  line-height: 200%;
}
/* 画像の横並びと回り込み */
img.right {
  float: right;
  margin-left: 10px;
  width: 45%;
  height: 45%;
}
