body {
  font-family: "Yu Gothic", sans-serif;
}

/* headerのh1タグの幅調整 */
header h1 {
  margin-bottom: 10%;
}

/* 各セクションのh1タグの幅調整 */
section h1 {
  margin-bottom: 10%;
}

/* マークダウンのpタグ幅の調整 */
p.lead p {
  margin-bottom: 3%;
}

/* 画像の横並びと回り込み */
img.right {
  float: right;
  margin-left: 10px;
  width: 45%;
  height: 45%;
}
